CSCI42_tAft/CSCI42_tAft/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/CSCI42_tAft/__pycache__/settings.cpython-311.pyc
CSCI42_tAft/CSCI42_tAft/__pycache__/urls.cpython-311.pyc
CSCI42_tAft/exercise/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/exercise/__pycache__/apps.cpython-311.pyc
CSCI42_tAft/exercise/__pycache__/models.cpython-311.pyc
CSCI42_tAft/food/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/food/__pycache__/apps.cpython-311.pyc
CSCI42_tAft/food/__pycache__/models.cpython-311.pyc
CSCI42_tAft/forum/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/forum/__pycache__/apps.cpython-311.pyc
CSCI42_tAft/login/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/login/__pycache__/apps.cpython-311.pyc
CSCI42_tAft/myactivity/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/signup/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/myactivity/__pycache__/apps.cpython-311.pyc
CSCI42_tAft/signup/__pycache__/apps.cpython-311.pyc
CSCI42_tAft/userprofile/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/userprofile/__pycache__/apps.cpython-311.pyc
CSCI42_tAft/userprofile/__pycache__/models.cpython-311.pyc
CSCI42_tAft/userprofile/__pycache__/admin.cpython-311.pyc
CSCI42_tAft/signup/__pycache__/models.cpython-311.pyc
CSCI42_tAft/signup/__pycache__/admin.cpython-311.pyc
CSCI42_tAft/myactivity/__pycache__/admin.cpython-311.pyc
CSCI42_tAft/myactivity/__pycache__/models.cpython-311.pyc
CSCI42_tAft/login/__pycache__/models.cpython-311.pyc
CSCI42_tAft/login/__pycache__/admin.cpython-311.pyc
CSCI42_tAft/forum/__pycache__/models.cpython-311.pyc
CSCI42_tAft/forum/__pycache__/admin.cpython-311.pyc
CSCI42_tAft/food/__pycache__/admin.cpython-311.pyc
CSCI42_tAft/exercise/__pycache__/admin.cpython-311.pyc
CSCI42_tAft/userprofile/migrations/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/signup/migrations/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/myactivity/migrations/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/login/migrations/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/forum/migrations/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/food/migrations/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/food/__pycache__/views.cpython-311.pyc
CSCI42_tAft/food/__pycache__/urls.cpython-311.pyc
CSCI42_tAft/food/__pycache__/forms.cpython-311.pyc
CSCI42_tAft/exercise/migrations/__pycache__/__init__.cpython-311.pyc
CSCI42_tAft/CSCI42_tAft/__pycache__/wsgi.cpython-311.pyc
CSCI42_tAft/db.sqlite3
