{% extends 'base.html'%}

{% block title %}
{{ object.title }}
{% endblock %}
{% block navbar %}
<div class="navbar">
    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/436451604_470872335366746_4854891249917634860_n.png?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEzX2EYA4geaVKEatrhkgxkJzGiBP1KYfInMaIE_Uph8q60F-FzDmXm6uWjIPTwzZlVoxqJD1_bkPw0unZvvNHh&_nc_ohc=bUiOLm1GNaYAb5JXVWJ&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QF4fRzzd8Nb_-rF7u3-1S7yRGTNITdDCvSMJmqTZnQIZg&oe=66488556" alt="Logo">
    <a href="/exercise/" class="nav-item">Exercise List</a>
    <a href="/food/" class="nav-item">Food List</a>
    <a href="/userprofile/" class="nav-item">Users</a>
</div>
{% endblock %}
{% block content %}
    <h1>{{ object.title }}</h1>
        <body>
            Thread creator: {{ object.author.first_name }} {{ object.author.last_name }}<br>
            Thread creation period: {{ object.pub_datetime|date:"m/d/Y, h:i A" }}<br>
            <h3>Content:</h3>
            {{ object.body }}<br><br>
            
            {% for post in forumposts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">
                            {{ post.title }} by {{ post.author.first_name }} {{ post.author.last_name }}
                    </a>
                </li>
            {% endfor %}
            </body> <br>

            <form action="reply/add">
                <button type="submit">Reply</button> 
            </form> <br>

            <h4>Replies:</h4>
            {% for reply in replies %}
            {% if reply.forum_post == object %}
                by {{ reply.author.first_name }} {{ reply.author.last_name }}<br>
                {{ reply.pub_datetime|date:"m/d/Y, h:i A" }}<br>
                {{ reply.body }}<br><br>
            {% endif %}
            {% endfor %}
        </body>

        <form action="./edit">
            <br><button type="submit">Edit Post</button>
        </form>

        <a href = "/forum/">Forum Lobby</a>
        
{% endblock %}

