{%  extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block header %} Users {% endblock %}

{% block content %}
<div id = "object_container">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for userprofile in userprofiles %}
                <tr>
                    <td><a href="userprofile/{{ userprofile.pk }}/details/" class="item"> {{ userprofile.first_name }} </a></td>
                    <td>{{ userprofile.last_name }}</td>
                    <td>{{ userprofile.email }}</td>
                    <td>{{ userprofile.height }}</td>
                    <td>{{ userprofile.weight }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <td>
        <a href="userprofile/add/" class="item">Add Profile Information</a>
    </td>
    <div>
    <td><a href="/food/" class="item"> {{ "Food List" }} </a></td>
    <td><a href="/exercise/" class="item"> {{ "Exercise List" }} </a></td>
    <td><a href="/forum/" class="item"> {{ "Forum" }} </a></td>
    </div>
{% endblock %}