{%  extends 'base.html' %}

{% block title %} {{ object.food_id }} {% endblock %}

{% block header %} {{ object.food_name }} {% endblock %}

{% block navbar %}
<div class="navbar">
    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/436451604_470872335366746_4854891249917634860_n.png?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEzX2EYA4geaVKEatrhkgxkJzGiBP1KYfInMaIE_Uph8q60F-FzDmXm6uWjIPTwzZlVoxqJD1_bkPw0unZvvNHh&_nc_ohc=bUiOLm1GNaYAb5JXVWJ&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QF4fRzzd8Nb_-rF7u3-1S7yRGTNITdDCvSMJmqTZnQIZg&oe=66488556" alt="Logo">
    <a href="/exercise/" class="nav-item">Exercise List</a>
    <a href="/userprofile/" class="nav-item">Users</a>
    <a href="/forum/" class="nav-item">Forum</a>
</div>
{% endblock %}

{% block content %}
    <p>
        Food Name: {{ object.food_name }} <br>
        Calories per Serving: {{ object.calories_per_serving }} <br>
        Carbohydrates per Serving: {{ object.carbs_per_serving }} <br>
        Proteins per Serving: {{ object.protein_per_serving }} <br>
        Fats per Serving: {{ object.fat_per_serving }} <br>
    </p>
    <li>
        <a href="{{ object.get_update_url }}" class="item">Edit Food</a>
    </li>
    <div id = "navbar">
        <a href = "/food/" class="item">Food List</a>
    </div>
{% endblock %}
