<!DOCTYPE html>
{% load static %}
<html lang="en">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <head>
        <title> {% block title %} Title {% endblock %}</title>
    </head>
    <div id = "main">
        <body>
            <h1>
                {% block header %} Header {% endblock %}
            </h1>

            <div id = "content">
                {% block content %} Content {% endblock %}
            </div>
            {% block navbar %} {% endblock %}
        </body>
    </div>
</html>